<?xml version="1.0" encoding="UTF-8"?>
<suite name="example suite 1" verbose="1" >
    <test name="Regression suite 1" >
        <classes>
            <class name="RESTAssuredClient.MyTests">
                    <methods>
                            <exclude name = "CheckCorrectEmployeeDetails"></exclude>
                    </methods>
            </class>
            <class name="RESTAssuredClient.MyWireMockTests"/>
            <class name="RESTAssuredClient.RESTAssuredBDDStyleTests"/>
        </classes>
    </test>
</suite>